@import url(//fonts.googleapis.com/css?family=Open%20Sans:600);
@import url(//fonts.googleapis.com/css?family=Lora:400);
@import url(//fonts.googleapis.com/css?family=Oswald:400);
@import url(//fonts.googleapis.com/css?family=Old%20Standard%20TT:400);

html, body {
    background-color: rgba(100,70,7,0.8);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:'Old Standard TT', sans-serif;
    font-size: 1.07em;
    font-weight: 200;
    text-align:left;
    color: #fff;
    display: table;
}

.container-fluid {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: rgba(255,255,255,.7);
    width: inherit;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    padding: 60px 40px 60px 40px;
    font-family:'Oswald', sans-serif;
    font-weight: 100;
    font-size: 64px;
    background-color: rgba(0, 0, 0, .45);
    color: rgba(255,255,255,.95);
}

.title-sub {
    font-size: 38px;
    color: rgba(255,255,255,1);
    font-weight: 100;
}

/*.facebook-box {*/
    /*font-size: 1.2em;*/
    /*line-height: 170%;*/
    /*background-color: rgba(240,240,240,0.99);*/
    /*padding-top: 40px;*/
/*}*/

.address {
    color: rgba(255,255,255,.99);
    background-color: rgba(0, 0, 0, .35);
    font-family: Old Standard TT;
    font-size: 1.2em;
    line-height: 170%;
    font-weight: 200;
}
.address-email {
    color: rgba(255,255,255,.99);
    background-color: rgba(0, 0, 0, 0);
    font-family: Old Standard TT;
    font-size: 1em;
    line-height: 100%;
    font-weight: 200;
}

.opening-times {
    color: rgba(255,255,255,.99);
    background-color: rgba(0, 0, 0, .35);
    font-family: Old Standard TT;
    font-size: 1.2em;
    line-height: 170%;
    font-weight: 200;
}
h4.opening-times {
    padding: 60px 40px 60px 40px;
    font-family:'Oswald', sans-serif;
    font-size: 1.8em;
    line-height: 170%;
    font-weight: 400;
}
.banner, a {
    background-color: rgba(190,190,190, .1);
}
.section {
    position: relative;
    min-height: 900px;
}
#welcome-logo {
    margin-top: 20px;
}
#nav-logo {
    width: 210px;
    background-color: rgba(255,255,255, .9999);
    margin: 60px;
    padding: 24px;
}
#top-row{ }
#middle-row { }
#bottom-row { }

.row.video div {
    width: inherit;
    background-color: rgba(255,255,255,.8);
    margin: 60px;
    padding: 24px;
}

.selected img {
    opacity:0.5;
}

#section-welcome {
    padding-top: 40px;
    background: #282828 url('../images/Home/aMainFront-5.jpg') no-repeat center center;
    /*background: #282828;*/
    background-size: cover;
    color: rgba(255,255,255,1);
    font-size: 1.0em;
    font-weight: normal;
}
#section-about {
    padding-top: 40px;
    text-align: left;
    background: #282828 url('../images/Home/gCoffeeMachine.jpg') no-repeat center center;
    /*background: #282828;*/
    background-size: cover;
    color: rgba(255,255,255,1);
}
#section-functions {
    padding-top: 40px;
    background: #282828 url('../images/Home/gQuartet.jpg') no-repeat center center;
    /*background: #282828;*/
    background-size: cover;
    color: rgba(255,255,255,1);
    font-size: 1.0em;
    font-weight: normal;
}
#section-views {
    padding-top: 40px;
    background: #282828 url('../images/Home/aInteriorSpace-1.jpg') no-repeat center center;
    /*background: #282828;*/
    background-size: cover;
    color: rgba(255,255,255,1);
}
#section-menu {
    padding-top: 40px;
    background: #282828 url('../images/Home/gOffer1.jpg') no-repeat center center;
    /*background: #282828;*/
    background-size: cover;
}
.menu-page-1 {
  margin: 0 80px 0 0;
}
.menu-page-2 {
  margin: 0 0 0 80px;
}
.top-photo {
  background: #eee url('../images/Home/gOffer1.jpg') no-repeat center center;
  /*background: #282828;*/
  min-height: 285px;
  background-size: cover;
  color: #fff;
}

.download-box {
    background: rgba(255,255,255,.8);
    padding: 1em;
    font-size: 1.3em;
}

section.flat {
    background: rgba(230, 230, 230, .6);
    padding: 0;
}
section.flat > .container {
    background: rgba(230, 230, 230, .4);
    padding: 0;
}
section.flat > .container > .photo-float {
    padding: 30px 0px 30px 0px;
    min-height: 285px;
}
.groupon-logo-style {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: green;
}
.google-map-container{
    margin: 10px;
    padding:10px;
    background: rgba(255,255,255,.99);
    color: rgba(0,0,0,.95);

}
.photo-float {
  background: #ddd url('../images/Home/gQuartet.jpg') no-repeat center center;
}
p.float-text-main {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background: rgba(0,0,0,.65);
    color: rgba(255, 255, 255, 0.90);
}
p.float-text {
    text-align: left;
    margin: 10px;
    padding: 20px;
    background: rgba(0,0,0,.65);
    color: rgba(255, 255, 255, 0.9);
}
div.float-text-main {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background: rgba(255,255,255,.85);
    color: rgba(0, 0, 0, 0.99);
}
section.photo {
    background: rgba(180, 160, 20, 1);
}
section.photo > .container {
    background: rgba(255, 255, 255, .0);
    padding: 0;
}
section.photo > .container > .row {
    padding: 0;
    background: rgba(200, 200, 200, .0);
}

.welcome {
    text-align;left;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

a, a:visited {
    text-decoration:none;
}

a.header-link-secure {
    color: #c6c !important;
}

a.header-link {
    color: #666;
}

a.header-dropdown-link {
    font-size: 0.8em;
    color: #666;
}

a.christmas {
    padding: 14px;
    background-color: rgba(180, 20, 20, .88);
    font-family:'Oswald', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    color: #5b5;
    text-decoration: none;
}

h1 {
    font-size: 22px;
    margin: 16px 0 0 0;
}

.error {color:red; font-style:italic; font-size:.9em;}

.container {
    background: rgba(255, 255, 255, .0);
}
.work-container {
    border: 0px solid #00f;
    width: 200px;
    padding: 10px 40px ;
    font-size: 0.8em;
    color: #444;
}

.text-left {
    padding-bottom: 20px;
}
.text-container {
    margin: 80px 0 0 0;
    border: 0px solid #f00;
    padding: 10px 40px ;
    font-size: 0.9em;
    color: #444;
}

.icon-white {
    color: #fff;
}

.top-photo {
    /*background: #282828 url('') no-repeat top center;*/
    min-height: 285px;
    background-size: cover;
    color: rgba(100,100,100,.9);
}
.white-bg {
    background: rgba(255,255,255,.9);
}
.navbar-end {
    margin-top: 0;
    padding-top: 0;
}

.nav-bottom-line {
    background: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(180,180,180,.7);
}
